.card{
    border: .5px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.coverimage{
    height: 150px;
}
.card-info{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serifW;
}
.coverimage > img{
    height: 150px;
    width: 200px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.other{
    display: flex;
}
.other > p{
    padding: 10px;
}
.yellow{
    color: rgb(255, 213, 0);
}
.add-cart{
    background-color: #007bff;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}